@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.ghentrepreneur{
	position:  absolute;
	left: 5px;
	width: 20%;
	top: 5px;
	z-index: 99;
}

.logo{
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 99;
}