!!! 5
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/camera.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/javascripts/cascades/haarcascade_frontalface_alt2.js')
		script(src='/javascripts/cascades/haarcascade_mcs_nose.js')
		script(src='/javascripts/cascades/haarcascade_mcs_mouth.js')
		script(src='/javascripts/vintage.js')
		script(src='/javascripts/step.js')
		script(src='/javascripts/async.js')
		script(src='/javascripts/camera.js')


	body
		.row
			.three.columns
				h2 #{title}
			.nine.columns


		.row
			.twelve.columns
				div(style="text-align:center")
					video(autoplay)
					canvas(style="display:none")

		br

		.row
			.twelve.columns.panel
				.six.columns
					h4 Press space
				.six.columns
					h4#tryagain.right(style="display:none") Sorry... try again



		.row
			.twelve.columns(style="font-size:12px")
				span Completed in&nbsp;
				span#time x
				span &nbsp;seconds




		footer.row
			.twelve.columns
				hr
				.row
					.six.columns
						p MiX 2012
					.six.columns
						ul.link-list.right
							li
								a(href='http://mix.iminds.be') MiX
							li
								a(href='http://www.iminds.be') iMinds
							li
								a(href='https://github.com/labm/imindsmustache') Fork us on Github

