!!! 5
html
	head
		title= title
		meta(charset='utf-8')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/camera.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/javascripts/cascades/haarcascade_frontalface_alt2.js')
		script(src='/javascripts/cascades/haarcascade_mcs_nose.js')
		script(src='/javascripts/cascades/haarcascade_mcs_mouth.js')
		script(src='/javascripts/vintage.js')
		script(src='/javascripts/step.js')
		script(src='/javascripts/async.js')
		script(src='/javascripts/camera.js')


	body
		img.ghentrepreneur(src='/images/ghentrepreneur.png')
		img.logo(src='/images/logo.png')

		.row
			.twelve.columns(style="width:100%; text-align:center")
				h2 #{title}


		.row
			.twelve.columns
				div(style="text-align:center")
					video(autoplay, style="max-width:100%")
					canvas#maincanvas(style="display:none; max-width:100%", width="640", height="480")

		br

		.row
			.twelve.columns.panel
				.six.columns
					h4#instructions Press SPACE
				.six.columns
					h4#tryagain.right(style="display:none") Sorry... try again



		.row
			.twelve.columns(style="font-size:12px")
				span Completed in&nbsp;
				span#time x
				span &nbsp;seconds




		footer.row
			.twelve.columns
				hr
				.row
					.six.columns
						p MiX 2013
					.six.columns
						ul.link-list.right
							li
								a(href='http://mix.iminds.be') MiX
							li
								a(href='http://www.iminds.be') iMinds
							li
								a(href='https://github.com/labm/imindsmustache') Fork us on Github

		canvas#scaledcanvas(style="display:none")

