!!! 5
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/controller.js')


	body
		.row
			.twelve.columns
				h1 #{title}

		.row
			.six.columns
				img#picture
			.six.columns
				.row
					.twelve.columns

						button.radius.button.success#publish(style="width:100%") Publish to stream

				hr

				.row
					.nine.columns
						span(style="position:absolute ;font-size:20px") @
						input#twitterhandle(type="text", style="position:absolute; margin-left:20px")
					.three.columns
						button.radius.button.right#tweet(style="margin-top:4px") Tweet

				hr

				.row
					.eight.columns
						input(type="text")
					.four.columns
						button.radius.button.secondary.right#mail Mail it to me

