!!! 5
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/controller.js')


	body
		.row
			.twelve.columns
				h1 #{title}

		.row
			.six.columns
				img#picture(style="width:100%")
			.six.columns
				.row
					fieldset
						label(for="checkshowontwitter")
							input#checkshowontwitter(type="checkbox", style="width:30px; height:30px;")
							span(style="font-size:25px") Show on Twitter
						br
						label(style="font-size:25px") Twitter username:
						.row.collapse
							.two.mobile-one.columns
								span.prefix(style="font-size:25px") @
							.ten.mobile-three.columns
								input#twitterhandle(type="text", style="font-size:25px")
						br
						button.radius.button.success#publish(style="width:100%; font-size:25px") Publish to our wall
						br
						br


